xsd/ServeurLWS.xsd

<?xml version="1.0" encoding="UTF-8"?>
<xs:schema xmlns:tns="http://reponseWSAppelSkyblue.skyblue.alacom.com/" xmlns:xs="http://www.w3.org/2001/XMLSchema" version="1.0" targetNamespace="http://reponseWSAppelSkyblue.skyblue.alacom.com/">

<xs:element name="JAXBException" type="tns:JAXBException"></xs:element>

<xs:element name="ReponseWSskyblue" type="tns:reponseWSskyblue"></xs:element>

<xs:element name="Requete" type="tns:Requete"></xs:element>

<xs:element name="RequeteResponse" type="tns:RequeteResponse"></xs:element>

<xs:complexType name="Requete">
<xs:sequence>
<xs:element name="CodeEC" type="xs:string" minOccurs="0"></xs:element>
<xs:element name="TypePersonne" type="xs:string" minOccurs="0"></xs:element>
<xs:element name="CodeTribunal" type="xs:string" minOccurs="0"></xs:element>
<xs:element name="Ville" type="xs:string" minOccurs="0"></xs:element>
<xs:element name="RegistreCommerce" type="xs:string" minOccurs="0"></xs:element>
<xs:element name="RaisonSociale" type="xs:string" minOccurs="0"></xs:element>
<xs:element name="Cin" type="xs:string" minOccurs="0"></xs:element>
<xs:element name="TypeIdentite" type="xs:string" minOccurs="0"></xs:element>
<xs:element name="Nom" type="xs:string" minOccurs="0"></xs:element>
<xs:element name="Prenom" type="xs:string" minOccurs="0"></xs:element>
<xs:element name="Sexe" type="xs:string" minOccurs="0"></xs:element>
<xs:element name="DateNaissanceCreation" type="xs:string" minOccurs="0"></xs:element>
<xs:element name="MntCredit" type="xs:string" minOccurs="0"></xs:element>
<xs:element name="RefCredit" type="xs:string" minOccurs="0"></xs:element>
<xs:element name="Date" type="xs:string" minOccurs="0"></xs:element>
</xs:sequence>
</xs:complexType>

<xs:complexType name="RequeteResponse">
<xs:sequence>
<xs:element name="return" type="tns:reponseWSskyblue" minOccurs="0"></xs:element>
</xs:sequence>
</xs:complexType>

<xs:complexType name="reponseWSskyblue">
<xs:sequence>
<xs:element name="code_Retour" type="xs:string" minOccurs="0"></xs:element>
<xs:element name="date_Requete" type="xs:dateTime" minOccurs="0"></xs:element>
<xs:element name="max_Nbr_Impaye" type="xs:int" minOccurs="0"></xs:element>
<xs:element name="max_Nbr_Mois_Retard" type="xs:int" minOccurs="0"></xs:element>
<xs:element name="message_Retour" type="xs:string" minOccurs="0"></xs:element>
<xs:element name="mnt_Total_Impaye" type="xs:double" minOccurs="0"></xs:element>
<xs:element name="mnt_Total_Negatif" type="xs:double" minOccurs="0"></xs:element>
<xs:element name="type_Personne" type="xs:string" minOccurs="0"></xs:element>
</xs:sequence>
</xs:complexType>

<xs:complexType name="JAXBException">
<xs:sequence>
<xs:element name="errorCode" type="xs:string" minOccurs="0"></xs:element>
<xs:element name="message" type="xs:string" minOccurs="0"></xs:element>
</xs:sequence>
</xs:complexType>
</xs:schema>